@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  .animate-loading-bar {
    animation: loading 1.5s ease-in-out infinite;
  }
  .reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.5s ease-out;
  }
  .reveal.visible {
    opacity: 1;
    transform: translateY(0);
  }
}